version: "3.9"

services:

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:userdb
    networks:
      - dlms-net

  catalog-service:
    build: ./catalogservice
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:h2:mem:catalogdb
    networks:
      - dlms-net

  borrowing-service:
    build: ./borrowingservice
    ports:
      - "8083:8083"
    environment:
      - USER_SERVICE_URL=http://user-service:8081
      - CATALOG_SERVICE_URL=http://catalog-service:8082
    networks:
      - dlms-net

networks:
  dlms-net:
    driver: bridge
